/**************************  ESTILOS PARA DISPOSITIVOS MOVILES  **************************/
/** GENERALES **/
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	max-height: 100%;
}

.body {
	text-align: justify;
	font-size: 6vw;
	padding: 5.5% 3.5%;
}

.grid-items:nth-child(n + 2) {
	padding-top: 10%;
}

/** SECTION Y ARTICLE-RES **/
.button {
	padding: 1em;
	/* padding: 4%; */
	border-top-left-radius: 5% 40%;
	border-bottom-left-radius: 5% 40%;
	border-top-right-radius: 5% 40%;
	border-bottom-right-radius: 5% 40%;
	font-size: 3.5vw;
}

/** FIN SECTION Y ARTICLE-RES **/
/** FIN GENERALES **/

/** HEADER **/
/** FIN HEADER **/

/** ARTICLE-MSG **/
.article--msg {}

/** FIN ARTICLE-MSG **/

/** SECTION **/
.section__div {
	height: 100%;
	padding-top: 5%;
}

.section__button:first-child {
	margin-bottom: 5%;
}

/** FIN SECTION **/

/** ARTICLE-RES **/
.article__div {
	height: 100%;
	/*  background-color: yellow; */
}

.article__button {
	margin-bottom: 5%;
}

/** FIN ARTICLE-RES **/

/** LAYOUT **/
/*GRID*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 1fr minmax(auto, .3fr) minmax(16.5em, 1fr);
	grid-template-areas:
		" header  "
		" article--msg "
		" section "
		" article--res"
	;
}

.grid-items {
	border: solid 1px;
}

.header {
	grid-area: header;
}

.article--msg {
	grid-area: article--msg;
}

.section {
	grid-area: section;
}

.article--res {
	grid-area: article--res;
}

/*FIN GRID*/

/*FLEX BOX*/
.flex-content {
	display: flex;
}

.flex-content--column {
	flex-direction: column;
}

.flex-content--space-between {
	justify-content: space-between;
}

.flex-content--space-evenly {
	justify-content: space-evenly;
}

/*FIN FLEX BOX*/
/** FIN LAYOUT **/

/************************** ESTILOS PARA DISPOSITIVOS TABLETS  **************************/

/* Media query para tabletas (ejemplo: ancho máximo de 768px) */
@media (min-width: 768px) {

	/** SECTION **/
	.section__button:first-child {
		margin: 0%;
	}

	/** FIN SECTION **/

	/** LAYOUT **/
	/*GRID*/
	.grid-container {
		grid-template-rows: 0.1fr 2fr 0.75fr minmax(16.5em, 2.5fr);
	}

	/*FIN GRID*/

	/*FLEX BOX*/
	/** SECTION **/
	.section__div {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-end;
	}

	.flex-items {
		width: 45%;
	}

	/** FIN SECTION **/
	/*FIN FLEX BOX*/
	/** LAYOUT **/
}

/************************** ESTILOS PARA DISPOSITIVOS ESCRITORIO **************************/

/* Media query para pantallas de escritorio (ejemplo: ancho mínimo de 1024px) */
@media (min-width: 1024px) {

	/** GENERALES **/
	.body {
		font-size: 1.5vw;
		padding: 0;
	}

	.button {
		font-size: 0.7vw;
		/*  padding: 2%;  */
	}

	/** FIN GENERALES **/

	/** SECTION **/
	.section__div {
		padding-top: 0;
		align-items: center;
	}

	/** FIN SECTION **/

	/** LAYOUT **/
	/*GRID*/
	.grid-container {
		display: grid;
		grid-template-columns: 0.2fr 0.2fr 1.5fr 2.5fr 2.5fr 0.6fr 3.5fr 0.3fr;
		grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.41fr 0.1fr;
		grid-template-areas:
			"   .     .       .       .                .               .          .                  .   "
			"   .     .       header  header           header          .          article--res       .   "
			"   .     .       .       article--msg     article--msg    .          article--res       .   "
			"   .     .       .       article--msg     article--msg    .          article--res       .   "
			"   .     .       .       section          section          .         article--res       .   "
			"   .     .       .       .                .               .          .                  .   "
		;
	}

	.grid-items:nth-child(n + 2) {
		padding-top: 0;
	}

	/*FIN GRID*/

	/*FLEX BOX*/
	/*FIN FLEX BOX*/
	/** LAYOUT **/

}